{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Daily Data Hub</title>
    {% include 'header.html' %}
    {% include 'topscript.html' %}
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include 'sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include 'topbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">제외 키워드 관리</h1>
                    </div>
                    <!-- Content Row -->
                    <div class="card row">
                        <table class="table">
                            <tr align="center">
                                <th>회사 코드</th>
                                <th>제외 단어</th>
                                <th>제외 사유</th>
                                <th>작성 유저</th>
                                <th>작성 일자</th>
                            </tr>
                            {% for words in excluded_word_list %}
                            <tr align="center">
                                <td><span>{{words.COMPANY_CODE}}</span></td>
                                <td><span>{{words.EXCLUDED_WORD}}</span></td>
                                <td><span>{{words.DESCRIPTION_INFO}}</span></td>
                                <td><span>{{words.UPDATE_USER}}</span></td>
                                <td><span>{{words.UPDATE_DATETIME}}</span></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="row" style="width: 100%; justify-content: center;">
                        <div class="pagination" style="width: 100%; justify-content: center;">
                            <span class="step-links">
                                {% if excluded_word_list.has_previous %}
                                    <a href="?page={{ excluded_word_list.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="current">
                                    Page {{ excluded_word_list.number }} of {{ excluded_word_list.paginator.num_pages }}.
                                </span>
                                {% if excluded_word_list.has_next %}
                                    <a href="?page={{ excluded_word_list.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                <!-- /.container-fluid -->
            </div>
                {% include 'footer.html' %}
        </div>
    </div>
    {% include 'logout.html' %}
    {% include 'script.html' %}
</body>
</html>