{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Daily News</title>
    {% include 'header.html' %}
    {% include 'topscript.html' %}
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include 'sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include 'topbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">관심 뉴스 관리</h1>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                    </div>
                <!-- /.container-fluid -->
            </div>
                {% include 'footer.html' %}
        </div>
    </div>
    {% include 'logout.html' %}
    {% include 'script.html' %}
</body>
</html>