{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Daily Data Hub</title>
    {% include 'header.html' %}
    {% include 'topscript.html' %}
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include 'sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include 'topbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">뉴스 정보 {% if request.GET.keyword %} [검색결과 = {{request.GET.keyword}}] {% endif %}</h1>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <form action="{% url 'newsraw' %}" method="get">
                            <div class="form-group">
                              <label for="keyword">키워드 검색 조건</label>
                              <input type="text" class="form-control" id="keyword" name="keyword" aria-describedby="keywordHelp" placeholder="키워드 입력" {% if request.GET.keyword %} value = {{search_keyword}} {% endif %}>
                              <small id="keywordhelp" class="form-text text-muted">뉴스 기사중 검색하고 싶은 키워드를 입력 후 엔터를 눌러주세요!</small>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="accordion" id="accordionExample" style="width: 100%;">
                          {% for news in news_list %}
                          <div class="card">
                            <div class="card-header" id="heading{{news.id}}">
                              <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{news.id}}" aria-expanded="true" aria-controls="collapse{{news.id}}">
                                    [{{news.news_createdt}}]{{news.news_title}}({{news.news_from}})
                                </button>
                              </h5>
                            </div>
                            <div id="collapse{{news.id}}" class="collapse" aria-labelledby="heading{{news.id}}" data-parent="#accordionExample">
                              <div class="card-body">
                                  {{news.news_contents}}
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                    </div>
                    <div class="row" style="width: 100%; justify-content: center;">
                        <div class="pagination" style="width: 100%; justify-content: center;">
                            <span class="step-links">
                                {% if page_current > 1 %}
                                    <a href="?page={{ page_previous }}{% if request.GET.keyword %}&keyword={{search_keyword}}{% endif %}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ page_current }} of {{ page_total }}.
                                </span>

                                {% if page_next < page_total or page_next == page_total %}

                                    <a href="?page={{ page_next }}{% if request.GET.keyword %}&keyword={{search_keyword}}{% endif %}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                <!-- /.container-fluid -->
            </div>
                {% include 'footer.html' %}
        </div>
    </div>
    {% include 'logout.html' %}
    {% include 'script.html' %}
</body>
</html>