{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Daily Nes</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'jquery-easing/jquery.easing.min.js'}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body class="bg-gradient-primary backgroundTheme">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="registerId"
                                            placeholder="ID">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="registerName"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="registerPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="registerPasswordRepeat" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <input id="btnRegisterAccount" type="button" class="btn btn-primary btn-user btn-block" value="Register Account">
                                        <script>
                                            $('#btnRegisterAccount').on('click', function(e) {
                                                if($('#registerId').val() == "" ){
                                                    alert('아이디를 입력하세요');
                                                    $('#registerId').focus();
                                                    return;
                                                }else if($('#registerId').val().length > 50 ){
                                                    alert('아이디가 너무 깁니다.')
                                                    $('#registerId').focus();
                                                    return;
                                                }else if($('#registerPassword').val() == "" ){
                                                    alert('비밀번호를 입력하세요')
                                                    $('#registerPassword').focus();
                                                    return;
                                                }else if($('#registerPassword').val().length > 50 ){
                                                    alert('비밀번호가 너무 깁니다.')
                                                    $('#registerPassword').focus();
                                                    return;
                                                }else if($('#registerPassword').val() !== $('#registerPasswordRepeat').val() ){
                                                    alert('비밀번호 재입력이 서로 다릅니다')
                                                    $('#registerPassword').focus();
                                                    return;
                                                }else if($('#registerName').val() == "" ){
                                                    alert('이름을 입력하세요')
                                                    $('#registerName').focus();
                                                    return;
                                                }else if($('#registerName').val().length > 50 ){
                                                    alert('이름이 너무 깁니다.')
                                                    $('#registerName').focus();
                                                    return;
                                                }else{
                                                    var data={
                                                    registerId:$('#registerId').val(),
                                                    registerName:$('#registerName').val(),
                                                    registerPassword:$('#registerPassword').val(),
                                                    registerPasswordRepeat:$('#registerPasswordRepeat').val()
                                                }
                                                $.ajax({
                                                    type:'POST',
                                                    url:"/requestRegister",
                                                    dataType: "text",
                                                    contentType:'application/json; charset=utf-8',
                                                    data:JSON.stringify(data),
                                                    success : function(data){
                                                        console.log(data);
                                                        if(data === "TRUE"){
                                                            alert("가입 성공!");
                                                            location.href="/";
                                                        }else{
                                                            alert("가입 실패");
                                                            // location.href="/";
                                                        }
                                                    },
                                                    error : function(error){
                                                        alert("가입 오류");
                                                        // location.href="/";
                                                        console.log(JSON.stringify(error));
                                                    }
                                                })
                                                }
                                            });
                                        </script>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgotPassword">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>